@media print {
  @page {
    size: 2.12in 3.37in;
  }

  body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../assets/img/idcard.png");
  }
}
