.bg-gradient-info {
  background: linear-gradient(87deg, #26dff6 0, #80deea 100%) !important;
}

.rdt_TableHeadRow {
  background-color: #f6f9fc;
  color: #8898aa;
  font-family: "Open Sans", sans-serif;
  font-size: 10.4px;
}

.col-active {
  background-color: #80deea;
}
